

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.background {
  position: relative;
 
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.pic {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
}

.para {
  margin-top: 20px;
}

.head {
  font-size: 2.5em;
  font-weight: 900;
  color: #333; /* Change the color as needed */
}

.desc {
  font-size: 1.2em;
  margin-top: 10px;
  color: #555; /* Change the color as needed */
}

.d {
  font-size: 1.2em;
  margin-top: 10px;
  color: #555; /* Change the color as needed */
}

.imgpop {
  margin-top: 20px;
}

.pop {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  margin: 5px;
}

.nav-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* Change the background color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #0056b3; /* Change the hover background color as needed */
}


